.greeting {
    width: 100%;
}

.greeting-heading {
    @include font-size(78px);
    font-weight: 800;
    letter-spacing: -2px;
    text-align: center;
    @media (max-width: 484px) {
        @include font-size(62px);
    }
}

.greeting-text {
    @include font-size(14px);
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.4em;
    margin: 18px 0 18px;
}

.greeting-icon {
    display: block;
    width: 64px;
    margin: 0 auto;
    svg {
        fill: #fff
    }
}