// Google fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);

// Font variables
$open-sans: 'Open Sans', sans-serif;
$font-family-base: $open-sans;

html {
    font-size: 16px;
}

body {
    font-family: $font-family-base;
    background-color: #1F324C;
    color: #fff;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
}

@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: calculateRem($size);
}

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both
    }
}

.center {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    @include clearfix;
}

@import './Header/Header.scss';
@import './Nav/Nav.scss';
@import './Logo/Logo.scss';
@import './Greeting/Greeting.scss';